@model H_R_WS.Models.Booking

@{
    ViewData["Title"] = "Details";
}


<!-- Start Page Header -->
<div class="page-header">
    <h1 class="title">Деталі бронювання</h1>
    <ol class="breadcrumb">
        <li><a asp-action="Index">Бронювання</a></li>
        <li class="active">Деталі</li>
    </ol>
    <!-- Start Page Header Right Div -->
    <div class="right">
        <a asp-action="edit" asp-route-id="@Model.ID" class="btn btn-option3 btn-lg">Редагувати бронь</a>
    </div>
</div>
<!-- End Page Header -->
<!-- START CONTAINER -->
<div class="container-padding">
    <div class="row">
        <div class=" col-md-12 col-lg-6">
            <div class="row">
                <div class="panel panel-default col-md-12">
                    <div class="panel-title">
                        Деталі бронювання

                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="col-sm-4">
                                    <b>Дата створення: </b>
                                </p>
                                <p class="col-sm-8">
                                    @Model.DateCreated
                                </p>
                            </div>


                            <div class="col-sm-12">
                                <p class="col-sm-4">
                                    <b>Заїзд: </b>
                                </p>
                                <p class="col-sm-8">
                                    @Model.CheckIn
                                </p>
                            </div>

                            <div class="col-sm-12">
                                <p class="col-sm-4">
                                    <b>Виїзд: </b>
                                </p>
                                <p class="col-sm-8">
                                    @Model.CheckOut
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <p class="col-sm-4">
                                    <b>Очікувана к-ть гостей: </b>
                                </p>
                                <p class="col-sm-8">
                                    @Model.Guests
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <p class="col-sm-4">
                                    <b>Додаткові побажання: </b>
                                </p>
                                <p class="col-sm-8">
                                    @Model.OtherRequests
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <p class="col-sm-4">
                                    <b>Всього: </b>
                                </p>
                                <p class="col-sm-8">
                                    @Model.TotalFee
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <p class="col-sm-4">
                                    <b>Сплачено: </b>
                                </p>
                                <p class="col-sm-8">
                                    @Model.Paid
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default col-md-12">
                    <div class="panel-title">
                        Деталі кімнати

                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="col-sm-4">
                                    <b>Номер кімнати: </b>
                                </p>
                                <p class="col-sm-8">
                                    @Model.Room.Number
                                </p>
                            </div>


                            <div class="col-sm-12">
                                <p class="col-sm-4">
                                    <b>Категорія кімнати: </b>
                                </p>
                                <p class="col-sm-8">
                                    @Model.Room.RoomType.Name
                                </p>
                            </div>

                            <div class="col-sm-12">
                                <p class="col-sm-4">
                                    <b>Ціна: </b>
                                </p>
                                <p class="col-sm-8">
                                    @Model.Room.Price
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <p class="col-sm-4">
                                    <b>Описання: </b>
                                </p>
                                <p class="col-sm-8">
                                    @Model.Room.Description
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <p class="col-sm-4">
                                    <b>Додаткові побажання замовника: </b>
                                </p>
                                <p class="col-sm-8">
                                    @Model.OtherRequests
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <p class="col-sm-4">
                                    <b>Макс. к-ть гостей: </b>
                                </p>
                                <p class="col-sm-8">
                                    @Model.Room.MaximumGuests
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <p class="col-sm-4">
                                    <b>Сплачено: </b>
                                </p>
                                <p class="col-sm-8">
                                    @Model.Paid
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" col-md-12 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-title">
                    Деталі замовника

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="col-sm-4">
                                <b> Ім'я: </b>
                            </p>
                            <p class="col-sm-8">
                                @Model.CustomerName
                            </p>
                        </div>


                        <div class="col-sm-12">
                            <p class="col-sm-4">
                                <b>Email: </b>
                            </p>
                            <p class="col-sm-8">
                                @Model.CustomerEmail
                            </p>
                        </div>

                        <div class="col-sm-12">
                            <p class="col-sm-4">
                                <b>Номер телефону: </b>
                            </p>
                            <p class="col-sm-8">
                                @Model.CustomerPhone
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <p class="col-sm-4">
                                <b>Адреса: </b>
                            </p>
                            <p class="col-sm-8">
                                @Model.CustomerAddress
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <p class="col-sm-4">
                                <b>Місто: </b>
                            </p>
                            <p class="col-sm-8">
                                @Model.CustomerCity
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>